<!-- Sidebar -->
<div class="adminx-sidebar expand-hover push">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/admin" class="sidebar-nav-link active">
                <span class="sidebar-nav-icon">
                    <i data-feather="home"></i>
                </span>
                <span class="sidebar-nav-name">
                    Trang chủ
                </span>
                <span class="sidebar-nav-end">
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/admin/accounts" class="sidebar-nav-link">
                <span class="sidebar-nav-icon">
                    <i data-feather="users"></i>
                </span>
                <span class="sidebar-nav-name">
                    Quản lý tài khoản
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/admin/rooms" class="sidebar-nav-link">
                <span class="sidebar-nav-icon">
                    <i data-feather="list"></i>
                </span>
                <span class="sidebar-nav-name">
                    Quản lý phòng ban
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables" aria-expanded="false"
                aria-controls="navTables">
                <span class="sidebar-nav-icon">
                    <i data-feather="bell"></i>
                </span>
                <span class="sidebar-nav-name">
                    Phân loại thông báo
                </span>
                <span class="sidebar-nav-end">
                    <i data-feather="chevron-right" class="nav-collapse-icon"></i>
                </span>
            </a>
            <ul class="sidebar-sub-nav collapse" id="navTables">
                <li class="sidebar-nav-item">
                    <a href="" class="sidebar-nav-link">
                        <span class="sidebar-nav-abbr">
                            DV
                        </span>
                        <span class="sidebar-nav-name">
                            Đơn vị
                        </span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="" class="sidebar-nav-link">
                        <span class="sidebar-nav-abbr">
                            SV
                        </span>
                        <span class="sidebar-nav-name">
                            Sinh viên
                        </span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="" class="sidebar-nav-link">
                        <span class="sidebar-nav-abbr">
                            All
                        </span>
                        <span class="sidebar-nav-name">
                            Tất cả thông báo
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Sidebar End -->